<h1>Listing users</h1>

<%= form_tag users_filter_path do %>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Wage</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th><%= text_field_tag :name, @old_filter['name'] %></th>
        <th><%= text_field_tag :email, @old_filter['email'] %></th>
        <th><%= text_field_tag :min_wage, @old_filter['min_wage'] %></th>
        <th><%= submit_tag "Filter" %></th>
      </tr>

      <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.wage %></td>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
    </table>
<% end %>
<br/>

<%= link_to 'New User', new_user_path %>
